.btn-back {
  padding: 0.5rem 2rem;
  border: 0;
  background: 0;
  outline: none;
  background: var(--Blue_900);
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.05);
  border-radius: 0.3rem;
  display: inline-flex;
  align-items: center;
}

.dark-mode .btn-back {
  background-color: var(--White);
  color: var(--Blue_900);
}

.btn-back i {
  padding-right: 0.5rem;
}

.content {
  margin-top: 4rem;
}

.items {
  display: flex;
  flex-flow: row nowrap;
  gap: 10rem;
  align-items: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  color: white;
}

.item-text {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10rem;
  padding: 1rem;
}

.item-texte-element,
.item-top-level {
  padding: 1rem;
  line-height: 3rem;
  font-size: 1.5rem;
}

.dark-mode .item-texte-element,
.item-top-level {
  color: var(--Blue_900);
}

.item-texte-element h2.title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 900;
}

.item-image {
  width: 100%;
  max-width: 560px;
  min-height: auto;
}

.item-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.border-countries {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dark-mode .border-countries {
  color: var(--Blue_900);
}

.border-countries .tag {
  background-color: var(--Blue_900);
  padding: 0.4rem 0.9rem;
  border-radius: 0.2rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.dark-mode .border-countries .tag {
  background-color: var(--White);
  color: var(--Blue_900);
}

@media screen and (max-width: 600px) {
  .items {
    flex-direction: column;
    gap: 2rem;
  }

  .item-text {
    flex-direction: column;
    flex-direction: 0;
    gap: 2rem;
    padding: 0;
  }

  .item-texte-element {
    width: 100%;
  }

  .item-top-level {
    width: 100%;
  }

  .border-countries {
    flex-flow: row wrap;
  }
}
