*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --Blue_900: hsl(209, 23%, 22%); /*(Dark Mode Elements)*/
  --Blue_950: hsl(207, 26%, 17%); /* (Dark Mode Background) */
  --Grey_950: hsl(200, 15%, 8%); /*(Light Mode Text)*/
  --Grey_400: hsl(0, 0%, 50%); /*(Light Mode Input) */
  --Grey_50: hsl(0, 0%, 99%); /* (Light Mode Background)*/
  --White: hsl(0, 100%, 100%); /*  (Dark Mode Text & Light Mode Elements) */
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  background-color: var(--Grey_950);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Blue_900);
  color: var(--White);
  padding: 1.5rem 2rem;
}

.container h1 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

.mode-dark {
  cursor: pointer;
}

.mode-dark i {
  margin-right: 1rem;
}
